.example-card{
  width: 500px;
  margin: auto;
  align-content: center;
  margin-top: 65px;
 }

 .InputContent{
  padding-top: 50px;
  align-content: center;
  width: 500px;
  /* height: 500px; */
 }

 .example-full-width{
   width: 475px;
   align-content: center;
  }

 .buttonCss{
   align-items: center;
   padding-left: 13px;
 }
