.main-toolbar[_ngcontent-c0] {
  background-color: #320e3b;
  color: white;

}

.mat-toolbar-single-row{

  height: 64px;
  position: fixed;
}

.example-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Cro_semicolon_plain.svg/2000px-Cro_semicolon_plain.svg.png');
  background-size: cover;
}

.unauthorised {
  color: red;
  font-size: 15px;
  margin-left: 5%;
}

.mailbg {
  position: absolute;
  left: 50%;
  margin-top: 40vh;
  width: 80vw;
  max-width: 400px;
  min-height: 300px;
  background: #320e3b;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mailbg:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 99%;
  width: 0;
  height: 0;
  border-top: 50px solid #320e3b;
  border-right: 30px solid transparent;
  border-left: 5px solid transparent;
  -webkit-transform: translate(0%, -0%);
  -ms-transform: translate(0%, -0%);
  transform: translate(0%, -0%);
  transform: rotate(0deg);
}

h1 {
  margin-left: 5%;
  color: white;
}

h4 {
  margin-left: 5%;
  color:white;
}

.l1 {
  margin-left: 5%;
  color: #AFDEDC;
}

.mailinput {
  box-sizing: border-box;
  border: none;
  padding: 5px;
  margin-left: 50%;
  margin-top: 2%;
  width: 90%;
  height: 50px;
  resize: none;
  font-size: 1.2em;
  -webkit-transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
}

.mailinput:focus {
  outline: none;
}

.sendmess {
  margin-left: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
  width: 90%;
  height: 50px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #AFDEDC;
  background: #320e3b;
  line-height: 40px;
  cursor: pointer;
}

.sendmess:focus {
  outline: none;
}

.copyright p {


  text-align: center;
  font-size: 14px;
  color: #040F0F;
  letter-spacing: 1px;
  text-transform: none;
  font-family: lato;
}

.steps-form-2 {
  display: table;
  width: 100%;
  position: relative;
  top : 3%
}

.steps-form-2 .steps-row-2 {
  display: table-row; }

.steps-form-2 .steps-row-2:before {
  top: 50%;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 5px;
  background-color: black;
 }

.steps-form-2 .steps-row-2 .steps-step-2 {
  display: table-cell;
  text-align: center;
  position: relative;
 }
.steps-form-2 .steps-row-2 .steps-step-2 p {
  margin-top: 0.5rem;
}
/* .steps-form-2 .steps-row-2 .steps-step-2 button[disabled] {

  filter: alpha(opacity=100) !important;
} */
.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  /* background-color: white; */
  color:black !important;
  border-radius: 50%;
  padding: 22px 18px 15px 18px;
  margin-top: -22px; }
.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2:hover {
  border: 2px solid #4285F4;
  color: #4285F4 !important;
  /* background-color: white */
 }
.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 .fa {
  font-size: 1.7rem;
}

.hero-image{

  background-image: url("https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: -webkit-fill-available;

}
.steps-step-2 button{
  font-size: 20px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
 }
 @-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
 }
 @keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
 }
 @-webkit-keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
 }
 @keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
 }
 @-webkit-keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
 }
 @keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
 }
 @-webkit-keyframes shrink {
  from {min-width: 350px;}
  to {min-width: 50px;}
 }
 @keyframes shrink {
  from {min-width: 350px;}
  to {min-width: 50px;}
 }
 @-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
 }
 @keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
 }

#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  position: fixed;
  top: 15%;
  right: 5%;
  z-index: 1;
  background-color:green;
  color: #fff;
  text-align: center;
  font-size: 17px;

 }
 /* #toast #img{
 width: 50px;
 height: 50px;
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
 } */
 #toast #desc{
  color: #fff;
  padding: 16px;
  overflow: hidden;
 white-space: nowrap;
 }

