<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h1>Welcome to {{workspace}}</h1>
      <h4>Please confirm your email address</h4>
    </mat-card-title>
  </mat-card-header>
  <div class="InputContent">
    <mat-card-content>
      <form [formGroup]= "emailForm" class="example-form" (ngSubmit)= "onSubmit()">
        <mat-form-field class="example-full-width">
          <input matInput  formControlName="EmailId" class="form-control" [ngClass]= "{ 'is-invalid': submitted && f.EmailId.errors }"
          placeholder="name@example.com"/>
          <div *ngIf= "submitted && f.EmailId.errors" class="invalid-feedback">
            <div *ngIf= "f.EmailId.errors.required">Please fill in your email.</div>
            <div *ngIf= "f.EmailId.errors.email">Sorry, but the email is invalid.</div>
          </div>
        </mat-form-field>
        <mat-card-actions class="buttonCss">
          <button mat-raised-button color="primary" (click)="PostToGmail()" (click)= "Verify()" (click)= "newMessage()">Confirm</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </div>
</mat-card>
