.example-container {
  text-align: center;
  margin : auto;
}

.example-container > * {
  width: 60%;
}

.example-card{
  width: 500px;
  margin: auto;
  margin-top: 12%;
 }

 .example-full-width{
   width: 475px;
   align-content: center;
  }
