<h1>LOG IN</h1>
<div class="main-agileits">
  <div class="form-w3-agile">
    <h2>ENTER YOUR EMAIL ADDRESS AND PASSWORD</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-sub-w3">
        <input type="text" placeholder="you@example.com" formControlName="EmailId" required>
        <div class="icon-w3">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
      </div>
      <div class="form-sub-w3">
        <input placeholder="Password" type="password" formControlName="Password" required>
        <div class="icon-w3">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        </div>
        <p *ngIf="error" class="unauthorised">
          Invalid EmailId or Password
        </p>
      </div>
      <div>
        <input type="submit" value="Login">
      </div>
    </form>
  </div>
</div>
<div class="copyright">
  <p> © 2018 TLDM . All rights reserved </p>
</div>
