<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h1>SignUp</h1>
    </mat-card-title>
  </mat-card-header>
  <div class="InputContent">
    <mat-card-content>
      <form class="example-form" name="form" novalidate (ngSubmit)="ToWorkspaceDetails()">

        <mat-form-field class="example-full-width">
          <input [ngModelOptions]="{standalone: true}" matInput placeholder="FirstName" [(ngModel)]="signUpModel.FirstName" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [ngModelOptions]="{standalone: true}" matInput placeholder="LastName" [(ngModel)]="signUpModel.LastName" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [ngModelOptions]="{standalone: true}" matInput placeholder="Username" [(ngModel)]="signUpModel.Username" #Username="ngModel" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [ngModelOptions]="{standalone: true}" matInput placeholder="Password" [(ngModel)]="signUpModel.Password" #Password="ngModel" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [ngModelOptions]="{standalone: true}" matInput placeholder="Designation" [(ngModel)]="signUpModel.Designation" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [ngModelOptions]="{standalone: true}" matInput placeholder="WorkspaceName" [(ngModel)]="signUpModel.WorkspaceName">
        </mat-form-field>

        <mat-card-actions class="buttonCss">
          <button mat-raised-button color="primary" [disabled]="validate" type="submit">SignUp</button>
        </mat-card-actions>

      </form>
    </mat-card-content>

  </div>
</mat-card>
