<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h1>SignUp</h1>
    </mat-card-title>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <div class="InputContent">
    <mat-card-content>
      <form [formGroup] = "signupForm" (ngSubmit)= "onSubmit()">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="FirstName" formControlName= "FirstName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="LastName" formControlName ="LastName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input  matInput placeholder="EmailId" formControlName ="EmailId" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input  matInput placeholder="Password" formControlName= "Password" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input  matInput readonly [value]="workspace">
        </mat-form-field>
      </form>
      <mat-card-actions class="buttonCss">
        <button mat-raised-button color="primary" (click)="CallToDatabase()" (click)= "ToWorkspaceDetails()">SignUp</button>
      </mat-card-actions>
    </mat-card-content>

  </div>
</mat-card>
