<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h1>Workspace Details</h1>
    </mat-card-title>
    <mat-card-title>
      <h3>{{workspacename}}</h3>
    </mat-card-title>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <div class="InputContent">
    <mat-card-content>
      <form fxLayout= "column"  [formGroup]= "workForm" (ngSubmit)= "onSubmit()">

        <div formArrayName="Channels">
          <div *ngFor="let ChannelName of workForm.get('Channels').controls; let i = index;">
            <div [formGroupName]="i" class="input-row" fxLayout="row" fxLayout.lt-md="column">
              <!-- <input matInput type="text" formControlName="channelName" placeholder="Channel Name"> -->
              <mat-form-field class="example-full-width" fxFlex>
                <input matInput placeholder="Channel Name" formControlName= "ChannelName">
              </mat-form-field>
            </div>
          </div>
          <a button mat-raised-button color="primary" (click)="addChannel()" style="margin-bottom: 10px">Add More Channels...</a>
        </div>


        <br>
        <button mat-raised-button color="primary" mat-button type="submit" style="float: right ;">Submit</button>
      </form>
    </mat-card-content>
  </div>
</mat-card>
