<mat-toolbar class="main-toolbar">
  <span mat-card-avatar class="example-header-image"></span>
  <span>TLDM</span>
</mat-toolbar>

<div class="mailbg">
  <h1>Check your email</h1>
  <h4>We’ve sent a confirmation code to your email. It will expire shortly, so enter your code soon.</h4>
  <form>
    <label class="l1" for="mailinput">Enter your confirmation code:</label>
    <input class="mailinput" [ngModelOptions]= "{standalone: true}" placeholder="" [(ngModel)]= "OTPmodel.Otp">
    <p *ngIf ="error" class="unauthorised">
      * {{error}}
    </p>
  </form>
  <button class="sendmess" [disabled]="!OTPmodel.Otp" (click)="PostToServer()">Done</button>
</div>

<div class="copyright">
  <p> © 2018 TLDM . All rights reserved </p>
</div>
