<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h1>Check your email</h1>
      <h4>We’ve sent a confirmation code to your email. It will expire shortly, so enter your code soon.</h4>
    </mat-card-title>


  </mat-card-header>
  <div class="InputContent">
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input [ngModelOptions]="{standalone: true}" matInput placeholder="Your confirmation code" [(ngModel)]= "OTPmodel.Otp">
        </mat-form-field><br>
      </form>
    </mat-card-content>
    <mat-card-actions class="buttonCss">
      <button [disabled]="!OTPmodel.Otp" mat-raised-button color="primary" (click)="PostToServer()" (click)= "RedirectToSignUp()">Done</button>
    </mat-card-actions>
  </div>
</mat-card>
