.example-container {
  display: flex;
  flex-direction: column;
}

mat-card {
  width: 100%;
}

button {
 float: right;
}

.example-card{
   border: 1px solid;
   width: 400px;
 }

 .maintile{
  margin: 1px 1px 1px 1px;
 }
.unauthorised {
  color: red;
  font-size: 15px;

}
.example-full-width{
  width: 100%;
  align-content: center;
 }
