.example-card{
  width: 500px;
  margin: auto;
  align-content: center;
  margin-top: 65px;
 }

 .InputContent{
  padding-top: 50px;
  align-content: center;
  width: 500px;
  /* height: 500px; */
 }

 .example-full-width{
   width: 475px;
   align-content: center;
  }

 .buttonCss{
   align-items: center;
   padding-left: 13px;
 }
 .example-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Cro_semicolon_plain.svg/2000px-Cro_semicolon_plain.svg.png');
  background-size: cover;
}

mat-toolbar {
  background-color: #333;
  color: white;
}
