<mat-toolbar class="main-toolbar">
  <span mat-card-avatar class="example-header-image"></span>
  <span>TL;DM</span>
</mat-toolbar>
<div style="height: 64px; width: 100%;"></div>

<div class="hero-image">

  <div class="steps-form-2">
    <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
      <div class="steps-step-2">
        <button mat-fab color="primary">
          1
        </button>
      </div>
      <div class="steps-step-2">
        <!-- <a href="#step-2" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" -->
        <!-- title="Personal Data"> -->
        <!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
        <button mat-fab disabled style="background-color: yellow">2</button>
        <!-- </a> -->
      </div>
      <div class="steps-step-2">
        <!-- <a href="#step-3" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top"
          title="Terms and Conditions">
          <i class="fa fa-photo" aria-hidden="true"></i>
        </a> -->
        <button mat-fab disabled style="background-color: yellow">3</button>
      </div>
      <div class="steps-step-2">
        <!-- <a href="#step-4" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect mr-0" data-toggle="tooltip" data-placement="top"
          title="Finish">
          <i class="fa fa-check" aria-hidden="true"></i>
        </a> -->
        <button mat-fab disabled style="background-color: yellow">4</button>
      </div>
      <div class="steps-step-2">
        <!-- <a href="#step-4" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect mr-0" data-toggle="tooltip" data-placement="top"
          title="Finish">
          <i class="fa fa-check" aria-hidden="true"></i>
        </a> -->
        <button mat-fab disabled style="background-color: yellow">5</button>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-12 " style="height: 520px;">
    </div> -->

  <div style="width: 100%; height: 80vh;">
    <div class="mailbg">
      <h1>Enter your Workspace Name</h1>
      <h4>We"ll use this to name your TL;DM Workspace</h4>
      <form (ngSubmit)="onSubmit()">
        <label class="l1" for="mailinput">Enter workspace Name:</label>
        <input class="mailinput" [ngModelOptions]="{standalone: true}" placeholder="" [(ngModel)]="workspaceModel.WorkspaceName"
          required>
        <p *ngIf="error" class="unauthorised">
          *Workspace name already exist. Please enter different workspace name.
        </p>
        <button class="sendmess" [disabled]="!workspaceModel.WorkspaceName">Create</button>
      </form>
    </div>
  </div>

  <div class="copyright">
    <p> © 2018 TLDM . All rights reserved </p>
  </div>



</div>
