/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background-size: cover;
  background-color: whitesmoke;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

mat-pseudo-checkbox, .mat-pseudo-checkbox {
  color: white !important;
  background-color: #34344A;
}
