.login{
  width: 100%;
 text-align: right;
}

.join{
  float: right;
  margin: auto;
}
.example-fill-remaining-space{
  width: 100px;
}
.getWorkspace{
  width: 100%;
  text-align: center;
  margin-top: 100px;

}
.btn-space {
  margin-top: 4%;
  display: block;
  text-align: center;
  width: 40%;
  margin-left: 30%;
}
