<mat-toolbar color="primary">TL;DM
  <div class="login">
    <button mat-raised-button color="Basic" (click)="getLogged()">Log In</button>
  </div>
  <!-- <span class="example-fill-remaining-space"></span> -->
</mat-toolbar>

<body>
  <!-- <button mat-raised-button color="primary" (click)="getStart()">Get Started</button> -->
  <div class="getWorkspace">
    <button class="btn-space" mat-stroked-button color="primary" (click)="getWorkspace()">Create Your Own Workspace</button>
    <button class="btn-space" mat-stroked-button color="primary" routerLink="/enterOTP" >Join a Workspace</button>
  </div>
</body>
