<mat-toolbar class="main-toolbar">
  <span mat-card-avatar class="example-header-image"></span>
  <span>TL;DM</span>
  <span class="example-spacer"></span>

</mat-toolbar>

<div class="hero-image">
<div align="center">
  <a class="button" routerLink="/invitedUserVerify">
    <span>Find Your Workspace <i class="fas fa-search"></i></span>
  </a>
</div>

<div align="center">
  <a class="button" (click)="getWorkspace()">
    <span>Create A New Workspace <i class="fas fa-plus-circle"></i></span>
  </a>
</div>
</div>
