<mat-toolbar class="main-toolbar">
  <span mat-card-avatar class="example-header-image"></span>
  <span>TLDM</span>
</mat-toolbar>

<div class="mailbg">
  <h1>Enter your default Bots</h1>
  <h4>All the Bots will get automatically added to your channels </h4>
  <label class="l1">Select your default bots:</label>
  <mat-selection-list [(ngModel)]=botSelected #selectedChannels>
    <mat-list-option *ngFor="let bot of Bots" [value]=bot>
      {{bot['firstName']}}
    </mat-list-option>
  </mat-selection-list>
  <button (click)="addBot()" class="sendmess">Submit</button>
</div>

<div class="copyright">
  <p> © 2018 TLDM . All rights reserved </p>
</div>
