
 .example-container {
  display: flex;
  flex-direction: column;
}

mat-card {
  width: 100%;
}

button {
 float: right;
}
.unauthorised{
  color: red;
  font-size: 12px;
}

.example-card{
   border: 1px solid;
   width: 400px;
   height: auto;

 }

 .maintile{
  margin: 1px 1px 1px 1px;
 }
